<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <connectionStrings>
    <!-- Please set up your own database connection strings before you run integrated tests. -->
    <add name="ConnectionStringPostgres" connectionString="SERVER=localhost;User ID=flexberryuser;Password=jhv;Port=5432;"/>
    <add name="ConnectionStringOracle" connectionString="SERVER=localhost;User ID=flexberryuser;Password=jhv;Port=1521;"/>
    <add name="ConnectionStringMssql" connectionString="SERVER=localhost;User ID=flexberryuser;Password=jhv;Port=1433;"/>
    <add name="ConnectionStringLocalSqlServer" connectionString="Data Source=(LocalDb)\v11.0;"/>
    <add name="TestConnStr" connectionString="SERVER=localhost;User ID=flexberryuser;Password=jhv;Port=5432;"/>
  </connectionStrings>
  <appSettings>
    <add key="TestAppNotNormal_DSType" value="ICSSoft.STORMNET.Business.MSSQLDataService, ICSSoft.STORMNET.Business.MSSQLDataService"/>
    <add key="TestAppNormal_DSType" value="ICSSoft.STORMNET.Business.MSSQLDataService, ICSSoft.STORMNET.Business.MSSQLDataService"/>
    <add key="TestApp_DSType" value="ICSSoft.STORMNET.Business.ODBCAccessDataService, ICSSoft.STORMNET.Business.ODBCDataService"/>
    <add key="TestAudit_DSType" value="ICSSoft.STORMNET.Business.ODBCAccessDataService, ICSSoft.STORMNET.Business.ODBCDataService"/>
    <add key="DataServiceType" value="ICSSoft.STORMNET.Business.MSSQLDataService, ICSSoft.STORMNET.Business.MSSQLDataService"/>
    <add key="UsingNamespaceForRights" value="true"/>
    <add key="AppNameForAzMan" value="myAppSecurityName"/>
    <add key="xunit.diagnosticMessages" value="true"/>
  </appSettings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="ICSSoft.STORMNET.Security.ISecurityManager, ICSSoft.STORMNET.DataObject"
        mapTo="ICSSoft.STORMNET.Security.EmptySecurityManager, ICSSoft.STORMNET.DataObject"/>
      <register type="ICSSoft.STORMNET.Business.IDataService, ICSSoft.STORMNET.Business" mapTo="ICSSoft.STORMNET.Business.PostgresDataService, ICSSoft.STORMNET.Business.PostgresDataService">
        <constructor />
      </register>
      <register type="ICSSoft.STORMNET.Business.Audit.IAuditService, ICSSoft.STORMNET.Business"
        mapTo="ICSSoft.STORMNET.Business.Audit.AuditService, ICSSoft.STORMNET.Business"/>
      <register name="securityManagerWithoutRightsCheck" type="ICSSoft.STORMNET.Security.ISecurityManager, ICSSoft.STORMNET.DataObject"
        mapTo="ICSSoft.STORMNET.Security.EmptySecurityManager, ICSSoft.STORMNET.DataObject">
        <lifetime type="singleton"/>
      </register>
      <register type="ICSSoft.STORMNET.Business.IConfigResolver, ICSSoft.STORMNET.Business"
        mapTo="ICSSoft.STORMNET.Business.ConfigResolver, ICSSoft.STORMNET.Business">
        <lifetime type="singleton"/>
        <constructor/>
      </register>
    </container>
    <alias alias="singleton" type="Unity.Lifetime.ContainerControlledLifetimeManager, Unity.Abstractions"/>
  </unity>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
